html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

body {
  background-color: #343a40;
}

.all-posts {
  background-color: #fe5619;
}

.post {
  border-top: 10px solid #fe5619;
  border-bottom: 10px solid #fe5619;
  border-left: none;
  border-right: none;
  padding: 30px;
}

.sm-label {
  color: lightcyan;
}

.post a:hover, .post a:active {
  color: #fe5619;
  text-decoration: none;
}

.new-post {
  background-color: #ffeaa7;
}