body {
  background-color: #fe5619;
}

.post {
  border-top: 10px solid #fe5619;
  border-bottom: 10px solid #fe5619;
  border-left: none;
  border-right: none;
  padding: 30px;
}

.sm-label {
  color: lightcyan;
}

.post a:hover, .post a:active {
  color: #fe5619;
  text-decoration: none;
}